.externalLinks{
    border: 5px solid gray;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.linkedin{
    width: 100px;
    height: 150px;
}

.github{
    width: 100px;
    height: 150px;
}