.externalLinks{
    /* border: 5px solid gray; */
    padding: 10px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.icon {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}
