.externalLinks{
    border: 5px solid gray;
    padding: 10px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.linkedin{
    width: 100px;
    height: 100px;
    float: left;
}

.github{
    width: 100px;
    height: 100px;
    float: right;
}

.resume{
    width: 100px;
    height: 100px;
}
