/* .head{
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
} */

/* .text{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 15px;
}
