.headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    /* border-radius: 15px; */
    float: left;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .head:hover .headshot {
    transform: scale(1);
  }
