.head{
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.text{
    text-align: left;
}

.headshot{
    padding-left: 450px;
    padding-right: 30px;
    padding-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}